/* ----------------------------------------
 * Remark overrides
 */

.remark-slide-scaler {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.remark-container,
.remark-notes-area {
  background: black;
}

.remark-slide-content {
  padding: 2rem;
}

.remark-slide-content.full-code {
  padding: 0
}

.full-code pre {
  margin: 0
}
.remark-slide>.center pre {
  text-align: left;
}

.remark-notes-preview h1,
.remark-notes-preview h2,
.remark-notes-preview h3,
.remark-notes-preview h4,
.remark-notes-preview h5,
.remark-notes-preview h6,
.remark-notes-preview p,
.remark-notes-preview ul,
.remark-notes-preview ol,
.remark-notes h1,
.remark-notes h2,
.remark-notes h3,
.remark-notes h4,
.remark-notes h5,
.remark-notes h6,
.remark-notes p,
.remark-notes ul,
.remark-notes ol {
  color: white;
}

.remark-code-line-highlighted,
.remark-code-span-highlighted {
  background-color: #222;
  border-left: 5px solid #FFFF03;
  border-right: 5px solid #FFFF03;
  margin: 0 -5px;
}

/* ----------------------------------------
 * Colors
*/

.slidesLocation {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  text-align: right;
}

.slidesLocation {
  float:left;
  text-align: left;
}

.slidesLocation.slidesLocation p {
  margin-bottom: 0rem;
}

.codeColorInherit .remark-inline-code {
  color: inherit;
}

/* ----------------------------------------
 * Typography
*/

body {
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}

html {
  font-size: 22px;
}

.remark-slide-content h1,
.remark-slide-content h2,
.remark-slide-content h3,
.remark-slide-content h4,
.remark-slide-content h5,
.remark-slide-content h6 {
  line-height: 1.25;
  max-width: 30em;
  font-weight: 800;
}

.remark-slide-content p,
.remark-slide-content li {
  font-weight: 600;
}

.remark-slide-content h1 {
  margin-bottom: 2rem;
  margin-top: 0;
  font-size: 3rem;
}

.remark-slide-content h2,
.remark-slide-content h3,
.remark-slide-content h4,
.remark-slide-content h5,
.remark-slide-content h6 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.remark-slide-content h2 { font-size: 2.25rem; }
.remark-slide-content h3 { font-size: 1.5rem; }
.remark-slide-content h4 { font-size: 1.25rem; }
.remark-slide-content h5 { font-size: 1rem; }
.remark-slide-content h6 { font-size: 1rem; }

.remark-slide-content p,
.remark-slide-content li {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0;
}

.remark-slide-content p {
  margin-bottom: 2rem;
}

.remark-slide-content li {
  margin-bottom: 0.5rem;
}
.remark-slide-content ul {
  margin-bottom: 1rem;
}

ol ul,
ol ol,
ul ol,
ul ul {
  font-size: 0.8em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}

ul ul {
  padding-left: 2rem;
  list-style-type: disc;
}

.headeredList p {margin-bottom: 0.5rem }
.headeredList > ul {padding-left: 2rem; list-style-type: disc;}

/* ----------------------------------------
 *
 */

img {
  box-shadow: 0 0 20px 9px rgba(0, 0, 0, 0.18);
}

iframe {
  width: 100%;
  height: 100%;
  border: 2px solid #EBEAEA;
}


.context {
  filter: grayscale(0.8) opacity(0.8);
}

pre + pre {
  margin-top: 0;
}

/* ----- Template colors ----- */

.invert {
  background: #101010;
  background-image: url('images/light-graph-2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
}

.invert strong { color: #ED2700 }

.invert * { color: white; }
.invert * .remark-inline-code { color: #dda2ff; }

.fire, .fire * { color: #ED2700; }

.chapter-title {
  color: white;
  background-color: #ED2700;
  background-image: url('images/fire-graph-2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.chapter-title * { color: white; }
.chapter-title * .remark-inline-code { color: #DDD; }

.question p {
  font-size: 2rem;
  text-align: center;
  line-height: 1.25;
}

.bg-blue * { color: white }
.bg-blue .remark-inline-code { color: #b9ebff; }
.bg-blue {
  background: #0c74d5;
  background-image: url('images/light-graph-3.png');
  background-repeat: no-repeat;
  background-size: cover;
}


.bg-blue-home * {color: white;}
.bg-blue-home {
  color: white;
  background: #0c74d5;
  background-image:
    url('images/light-graph-3.png'),
    url('images/big-brain.png');
  background-repeat: no-repeat;
  background-size: cover, 10rem;
  background-position: center center, top 10rem right 5rem;
}

.bg-white {
  background-image: url('images/light-graph-4.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-blue-gradient {
  background-image: linear-gradient(106deg, #0f0c40 0%, #222d5b 16%, #324f77 33%, #407294 50%, #4d98b2 66%, #59c0d0 83%, #64e9f0 100%);
}

.postgraphql-is {
  background-image: url('images/postgraphql-bg.png');
}

.postgraphql-is h1,
.postgraphql-is h2,
.postgraphql-is h3,
.postgraphql-is h4,
.postgraphql-is h5,
.postgraphql-is h6,
.postgraphql-is a {
  color: black;
  text-shadow: 1px 1px 2px white;
}

/* ----- Code ----- */

.has-code {
  background: #101010;
  padding: 2rem 2rem;
  color: white;
  background-image: url('images/light-graph-null.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
}

.has-code-extra-space {
  padding: 0.5rem 2rem;
}

.has-code * { color: white }
.has-code strong { font-family: Georgia, serif; font-style: italic; color: #8DBB6E }

.remark-code, .remark-inline-code { font-family: Monaco, "Lucida Console", monospace; }

.remark-inline-code { color: #2B497F; font-size: 0.95em; }

.has-code .remark-inline-code { color: #56A6ED }

.zoom-code .remark-code {
  font-size: 1.1em;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

code, .remark-code {border: none !important}

code .lolight,
code .lolight * {
  color: #666 !important;
}

code .hilight,
code .hilight * {
  color: #5DC744 !important;
}

.graphiqlImage,
.contextImage,
.specImage {
  position: absolute;
  right: 2rem;
  top: 6rem;
}
.graphiqlImage {
  width: 55%;
}
.contextImage {
  width: 38%;
}

.contextImage .remark-code {
  font-size: 0.8em;
}

.graphiqlImage img,
.contextImage img,
.specImage img {
  width: 100%;
}

.specImage {
  width: 35%;
  top: 3rem;
}

.spaceAtTop {
  margin-top: 2rem;
}

.leftSplit {
  width: 43%;
  float: left;
}

.rightSplit {
  width: 43%;
  float: right;
}

.tiny {
  font-size: 5pt;
  text-align: right;
}

.smallprint p {
  font-size: 0.9em;
}


/* ----------------------------------------
 * Prism syntax highlighting
 */

.html .token.doctype { color: #525865 }
.html .tag .token.punctuation { color: #DC616A }
.html .token.tag { color: #DC616A }
.html .token.attr-name { color: #CB8F5B }
.html .token.attr-value { color: #8DBB6E }

.language-jsx .token.keyword { color: #BE6DD8 }
.language-jsx .token.string { color: #8DBB6E }
.language-jsx .token.operator { color: #BE6DD8 }
.language-jsx .token.tag { color: #DC616A }
.language-jsx .tag .token.punctuation { color: #DC616A }
.language-jsx .tag .script .token.punctuation { color: white }
.language-jsx .token.attr-name { color: #CB8F5B }
.language-jsx .token.attr-value { color: #8DBB6E }
.language-jsx .token.function { color: #56A6ED }
.language-jsx .token.class-name { color: #56A6ED }
.language-jsx .token.comment { color: #525865 }
.language-jsx .token.interpolation-punctuation { color: #B6463D }


.language-json .token.property { color: #8DBB6E }


.language-graphql .remark-code-line { color: #8DBB6E }
.language-graphql .remark-code-line { color: #56A6ED }
.language-graphql .remark-code-line { color: #BE6DD8 }
.language-graphql .token.keyword { color: #BE6DD8 }
.language-graphql .token.attr-name { color: #56A6ED }
.language-graphql .token.comment { color: #525865 }
